body{
  text-align:center;
  color:black;
  background: silver;
  border: solid;
}
header{
  border-bottom: 22px;
  border-bottom: solid;
  border-width: thin
}
h1{
  font-size: 44px;
}
h2{
  font-size: 33px;
}
p{
  font-size: 25px;
}
button{
  font-weight: bolder;
  background-color: inherit;
}
footer{
  font-size: 15px;
  border-top: 22px;
  border-top: solid;
  border-width: thin;
  padding: 10px;
}
