body{
  text-align:center;
  color:black;
  background: silver;
  border: solid;
}
header{
  border-bottom: 22px;
  border-bottom: solid;
  border-width: thin
}
h1{
  font-size: 55px;
}
h2{
  font-size: 44px;
}
p{
  font-size: 25px;
}
